<%- contentFor('HeaderCss') %>
<link href="assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<%- contentFor('body') %>
<div class="card">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-3">
                <div class="search-box">
                    <input type="text" class="form-control search" placeholder="Search for deals...">
                    <i class="ri-search-line search-icon"></i>
                </div>
            </div>
            <!--end col-->
            <div class="col-md-auto ms-auto">
                <div class="d-flex hastck gap-2 flex-wrap">
                    <div class="d-flex align-items-center gap-2">
                        <span class="text-muted">Sort by: </span>
                        <select class="form-control mb-0" data-choices data-choices-search-false
                            id="choices-single-default">
                            <option value="Owner">Owner</option>
                            <option value="Company">Company</option>
                            <option value="Date">Date</option>
                        </select>
                    </div>
                    <button data-bs-toggle="modal" data-bs-target="#adddeals" class="btn btn-success"><i
                            class="ri-add-fill align-bottom me-1"></i> Add
                        Deals</button>
                    <div class="dropdown">
                        <button class="btn btn-soft-info btn-icon fs-14" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-settings-4-line"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Copy</a></li>
                            <li><a class="dropdown-item" href="#">Move to pipline</a></li>
                            <li><a class="dropdown-item" href="#">Add to exceptions</a></li>
                            <li><a class="dropdown-item" href="#">Switch to common form view</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Reset form view to default</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</div>
<!--end card-->

<div class="row row-cols-xxl-5 row-cols-lg-3 row-cols-md-2 row-cols-1">
    
    <div class="col">
        <% if (deals.length > 0) { %>
        <div class="card">
            <a class="card-header bg-soft-success" data-bs-toggle="collapse" href="#contactInitiated" role="button"
                aria-expanded="false" aria-controls="contactInitiated">
                <h5 class="card-title text-uppercase fw-semibold mb-1 fs-15">Contact Initiated</h5>
                <p class="text-muted mb-0">$<%= deals.filter(deal => deal.stage === "Contact Initiated").map(deal => deal.value.includes(',') ? Number(deal.value.split(',').join('')) : Number(deal.value)).reduce((acc,num) => acc + num,0) %> <span class="fw-medium"><%= deals.filter(deal => deal.stage === "Contact Initiated").length %> Deal(s)</span></p>
            </a>
        </div>
        <% } %>
        <!--end card-->
            <% if (deals.length > 0) { %>
                <% deals.filter(deal => deal.stage === "Contact Initiated").forEach(function (deal) { %>
        <div class="collapse show" id="contactInitiated">
            <div class="card mb-1 ribbon-box ribbon-fill ribbon-sm">    
                <div class="card-body">
                    <a class="d-flex align-items-center" data-bs-toggle="collapse" href="#contactInitiated<%= deals.indexOf(deal) + 1 %>"
                        role="button" aria-expanded="false" aria-controls="contactInitiated<%= deals.indexOf(deal) + 1 %>">
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fs-14 mb-1"><%= deal.dealTitle %></h6>
                            <p class="text-muted mb-0">$<%= deal.value %> - <%= deal.dueDate %></p>
                        </div>
                    </a>
                </div>
                <div class="collapse border-top border-top-dashed" id="contactInitiated<%= deals.indexOf(deal) + 1 %>">
                    <div class="card-body">
                        <h6 class="fs-14 mb-1"><%= deal.companyName %>
                        </h6>
                        <p class="text-muted"><%= deal.description %></p>
                        <ul class="list-unstyled vstack gap-2 mb-0">
                            <% if (tasks.length > 0) { %>

                                <% tasks.filter(task => task.leadOwner[0].toString() === deal.leadOwner[0].toString()).forEach(function (task) { %>
                            <li>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 avatar-xxs text-muted">
                                        <i class="ri-notification-2-fill"></i>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0"><%= task.tasksTitleFieldVal
                                            %></h6>
                                        <small class="text-muted"><%= task.dateDueFieldVal.toDateString()
                                            %></small>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    
                    <div class="card-footer ">

                        <a href="contact/<%= deal.leadOwner[0] %>" class=" btn btn-info btn-sm w-50">View More Details <i
                            class="align-bottom me-1"></i></a>
                        <button data-bs-toggle="modal" data-bs-target="#editdealstage" class="editDealStageBtns btn btn-sm w-sm btn-outline-success waves-effect waves-light">Move to Stage<i
                                class="ri-arrow-left-right-fill align-middle ms-1 lh-1"></i></button>
                        <p class="itemId"style="display:none"><%= deal._id %></p>
                    </div>
                    
                </div>
            </div>
            <!--end card-->
            
        </div>

    
    
        <% }) %>
            <% } %>
        </div>
    <!--end col-->

    <% if (deals.length > 0) { %>
    <div class="col">
        <div class="card">
            <a class="card-header bg-soft-warning" data-bs-toggle="collapse" href="#needsIdentified" role="button"
                aria-expanded="false" aria-controls="needsIdentified">
                <h5 class="card-title text-uppercase fw-semibold mb-1 fs-15">Needs Identified</h5>
                <p class="text-muted mb-0">$<%= deals.filter(deal => deal.stage === "Needs Identified").map(deal => deal.value.includes(',') ? Number(deal.value.split(',').join('')) : Number(deal.value)).reduce((acc,num) => acc + num,0) %> <span class="fw-medium"><%= deals.filter(deal => deal.stage === "Needs Identified").length %> Deal(s)</span></p>
            </a>
        </div>
        <% } %>
        <!--end card-->
        <% if (deals.length > 0) { %>

            <% deals.filter(deal => deal.stage === "Needs Identified").forEach(function (deal) { %>
    
        <div class="collapse show" id="needsIdentified">
        <div class="card mb-1 ribbon-box ribbon-fill ribbon-sm">
            
            <div class="card-body">
                <a class="d-flex align-items-center" data-bs-toggle="collapse" href="#needsIdentified<%= deals.indexOf(deal) + 1 %>"
                    role="button" aria-expanded="false" aria-controls="needsIdentified<%= deals.indexOf(deal) + 1 %>">
                    <div class="flex-grow-1 ms-3">
                        <span class="id" style="display:none;"><%= deal.owner[0] %></span>
                        <h6 class="fs-14 mb-1"><%= deal.dealTitle %></h6>
                        <p class="text-muted mb-0">$<%= deal.value %> - <%= deal.dueDate %></p>
                    </div>
                </a>
            </div>
            <div class="collapse border-top border-top-dashed" id="needsIdentified<%= deals.indexOf(deal) + 1 %>">
                <div class="card-body">
                    <h6 class="fs-14 mb-1"><%= deal.companyName %>
                    </h6>
                    <p class="text-muted"><%= deal.description %></p>
                    <ul class="list-unstyled vstack gap-2 mb-0"><% if (tasks.length > 0) { %>
                        
                            <% tasks.filter(task => task.leadOwner[0].toString() === deal.leadOwner[0].toString()).forEach(function (task) { %>

                            
                        <li>
                            <div class="d-flex">
                                <div class="flex-shrink-0 avatar-xxs text-muted">
                                    <i class="ri-notification-2-fill"></i>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0"><%= task.tasksTitleFieldVal
                                        %></h6>
                                    <small class="text-muted"><%= task.dateDueFieldVal.toDateString()
                                        %></small>
                                </div>
                            </div>
                        </li>
                        <% }) %>
                        <% } %>
                    </ul>
                </div>
                
                <div class="card-footer ">

                    <a href="contact/<%= deal.leadOwner[0] %>" class=" btn btn-info btn-sm w-50">View More Details <i
                        class="align-bottom me-1"></i></a>
                    <button data-bs-toggle="modal" data-bs-target="#editdealstage" class="editDealStageBtns btn btn-sm w-sm btn-outline-success waves-effect waves-light">Move to Stage<i
                            class="ri-arrow-left-right-fill align-middle ms-1 lh-1"></i></button>
                    <p class="itemId"style="display:none"><%= deal._id %></p>
                </div>
                
            </div>
        </div>
        </div>
        <!--end card-->
        
        
    

    <% }) %>
        <% } %>
    </div>
    <!--end col-->

    


        <div class="col">
            <% if (deals.length > 0) { %>
            <div class="card">
                <a class="card-header bg-soft-warning" data-bs-toggle="collapse" href="#meetingArranged" role="button"
                    aria-expanded="false" aria-controls="meetingArranged">
                    <h5 class="card-title text-uppercase fw-semibold mb-1 fs-15">Meeting Arranged</h5>
                    <p class="text-muted mb-0">$<%= deals.filter(deal => deal.stage === "Meeting Arranged").map(deal => deal.value.includes(',') ? Number(deal.value.split(',').join('')) : Number(deal.value)).reduce((acc,num) => acc + num,0) %> <span class="fw-medium"><%= deals.filter(deal => deal.stage === "Meeting Arranged").length %> Deal(s)</span></p>
                </a>
            </div>
            
            <!--end card-->
            <% if (deals.length > 0) { %>

                <% deals.filter(deal => deal.stage === "Meeting Arranged").forEach(function (deal) { %>
        
            <div class="collapse show" id="meetingArranged">
            <div class="card mb-1 ribbon-box ribbon-fill ribbon-sm">
                
                <div class="card-body">
                    <a class="d-flex align-items-center" data-bs-toggle="collapse" href="#meetingArranged<%= deals.indexOf(deal) + 1 %>"
                        role="button" aria-expanded="false" aria-controls="meetingArranged<%= deals.indexOf(deal) + 1 %>">
                        <div class="flex-grow-1 ms-3">
                            <span class="id" style="display:none;"><%= deal.owner[0] %></span>
                            <h6 class="fs-14 mb-1"><%= deal.dealTitle %></h6>
                            <p class="text-muted mb-0">$<%= deal.value %> - <%= deal.dueDate %></p>
                        </div>
                    </a>
                </div>
                <div class="collapse border-top border-top-dashed" id="meetingArranged<%= deals.indexOf(deal) + 1 %>">
                    <div class="card-body">
                        <h6 class="fs-14 mb-1"><%= deal.companyName %>
                        </h6>
                        <p class="text-muted"><%= deal.description %></p>
                        <ul class="list-unstyled vstack gap-2 mb-0"><% if (tasks.length > 0) { %>
                            
                                <% tasks.filter(task => task.leadOwner[0].toString() === deal.leadOwner[0].toString()).forEach(function (task) { %>
    
                                
                            <li>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 avatar-xxs text-muted">
                                        <i class="ri-notification-2-fill"></i>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0"><%= task.tasksTitleFieldVal
                                            %></h6>
                                        <small class="text-muted"><%= task.dateDueFieldVal.toDateString()
                                            %></small>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                            <% } %>
                        </ul>
                    </div>
                    
                    <div class="card-footer ">

                        <a href="contact/<%= deal.leadOwner[0] %>" class=" btn btn-info btn-sm w-50">View More Details <i
                            class="align-bottom me-1"></i></a>
                        <button data-bs-toggle="modal" data-bs-target="#editdealstage" class="editDealStageBtns btn btn-sm w-sm btn-outline-success waves-effect waves-light">Move to Stage<i
                                class="ri-arrow-left-right-fill align-middle ms-1 lh-1"></i></button>
                        <p class="itemId"style="display:none"><%= deal._id %></p>
                    </div>
                    
                </div>
            </div>
            </div>
            <!--end card-->
            
          
        
    
            <% }) %>
                <% } %>
                <% } %>
        </div>
        <!--end col-->
        
       
    
   

    <!--end col-->






    <div class="col">
        <% if (deals.length > 0) { %>
        <div class="card">
            <a class="card-header bg-soft-warning" data-bs-toggle="collapse" href="#leadDiscovered" role="button"
                aria-expanded="false" aria-controls="leadDiscovered">
                <h5 class="card-title text-uppercase fw-semibold mb-1 fs-15">In negotation</h5>
                <p class="text-muted mb-0">$<%= deals.filter(deal => deal.stage === "In negotation").map(deal => deal.value.includes(',') ? Number(deal.value.split(',').join('')) : Number(deal.value)).reduce((acc,num) => acc + num,0) %> <span class="fw-medium"><%= deals.filter(deal => deal.stage === "In negotation").length %> Deal(s)</span></p>
            </a>
        </div>
        <!--end card-->
        <% if (deals.length > 0) { %>

            <% deals.filter(deal => deal.stage === "In negotation").forEach(function (deal) { %>
    
        <div class="collapse show" id="leadDiscovered">
        <div class="card mb-1 ribbon-box ribbon-fill ribbon-sm">
            
            <div class="card-body">
                <a class="d-flex align-items-center" data-bs-toggle="collapse" href="#leadDiscovered<%= deals.indexOf(deal) + 1 %>"
                    role="button" aria-expanded="false" aria-controls="leadDiscovered<%= deals.indexOf(deal) + 1 %>">
                    <div class="flex-grow-1 ms-3">
                        <span class="id" style="display:none;"><%= deal.owner[0] %></span>
                        <h6 class="fs-14 mb-1"><%= deal.dealTitle %></h6>
                        <p class="text-muted mb-0">$<%= deal.value %> - <%= deal.dueDate %></p>
                    </div>
                </a>
            </div>
            <div class="collapse border-top border-top-dashed" id="leadDiscovered<%= deals.indexOf(deal) + 1 %>">
                <div class="card-body">
                    <h6 class="fs-14 mb-1"><%= deal.companyName %>
                    </h6>
                    <p class="text-muted"><%= deal.description %></p>
                    <ul class="list-unstyled vstack gap-2 mb-0"><% if (tasks.length > 0) { %>
                        
                            <% tasks.filter(task => task.leadOwner[0].toString() === deal.leadOwner[0].toString()).forEach(function (task) { %>

                            
                        <li>
                            <div class="d-flex">
                                <div class="flex-shrink-0 avatar-xxs text-muted">
                                    <i class="ri-notification-2-fill"></i>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0"><%= task.tasksTitleFieldVal
                                        %></h6>
                                    <small class="text-muted"><%= task.dateDueFieldVal.toDateString()
                                        %></small>
                                </div>
                            </div>
                        </li>
                        <% }) %>
                        <% } %>
                    </ul>
                </div>
                
                <div class="card-footer ">

                    <a href="contact/<%= deal.leadOwner[0] %>" class=" btn btn-info btn-sm w-50">View More Details <i
                        class="align-bottom me-1"></i></a>
                    <button data-bs-toggle="modal" data-bs-target="#editdealstage" class="editDealStageBtns btn btn-sm w-sm btn-outline-success waves-effect waves-light">Move to Stage<i
                            class="ri-arrow-left-right-fill align-middle ms-1 lh-1"></i></button>
                    <p class="itemId"style="display:none"><%= deal._id %></p>
                </div>
                
            </div>
        </div>
        <!--end card-->
        
    </div>
  

    <% }) %>
        <% } %>
    <!--end col-->
        
    </div>

<% } %>

<!--end col-->












    
    <div class="col">
        <% if (deals.length > 0) { %>
        <div class="card">
            <a class="card-header bg-soft-warning" data-bs-toggle="collapse" href="#offerAccepted" role="button"
                aria-expanded="false" aria-controls="offerAccepted">
                <h5 class="card-title text-uppercase fw-semibold mb-1 fs-15">Offer Accepted</h5>
                <p class="text-muted mb-0">$<%= deals.filter(deal => deal.stage === "Offer Accepted").map(deal => deal.value.includes(',') ? Number(deal.value.split(',').join('')) : Number(deal.value)).reduce((acc,num) => acc + num,0) %> <span class="fw-medium"><%= deals.filter(deal => deal.stage === "Offer Accepted").length %> Deal(s)</span></p>
            </a>
        </div>
        <!--end card-->
        <% if (deals.length > 0) { %>

            <% deals.filter(deal => deal.stage === "Offer Accepted").forEach(function (deal) { %>
    
        <div class="collapse show" id="offerAccepted">
        <div class="card mb-1 ribbon-box ribbon-fill ribbon-sm">
            
            <div class="card-body">
                <a class="d-flex align-items-center" data-bs-toggle="collapse" href="#offerAccepted<%= deals.indexOf(deal) + 1 %>"
                    role="button" aria-expanded="false" aria-controls="offerAccepted<%= deals.indexOf(deal) + 1 %>">
                    <div class="flex-grow-1 ms-3">
                        <span class="id" style="display:none;"><%= deal.owner[0] %></span>
                        <h6 class="fs-14 mb-1"><%= deal.dealTitle %></h6>
                        <p class="text-muted mb-0">$<%= deal.value %> - <%= deal.dueDate %></p>
                    </div>
                </a>
            </div>
            <div class="collapse border-top border-top-dashed" id="offerAccepted<%= deals.indexOf(deal) + 1 %>">
                <div class="card-body">
                    <h6 class="fs-14 mb-1"><%= deal.companyName %>
                    </h6>
                    <p class="text-muted"><%= deal.description %></p>
                    <ul class="list-unstyled vstack gap-2 mb-0"><% if (tasks.length > 0) { %>
                        
                            <% tasks.filter(task => task.leadOwner[0].toString() === deal.leadOwner[0].toString()).forEach(function (task) { %>

                            
                        <li>
                            <div class="d-flex">
                                <div class="flex-shrink-0 avatar-xxs text-muted">
                                    <i class="ri-notification-2-fill"></i>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0"><%= task.tasksTitleFieldVal
                                        %></h6>
                                    <small class="text-muted"><%= task.dateDueFieldVal.toDateString()
                                        %></small>
                                </div>
                            </div>
                        </li>
                        <% }) %>
                        <% } %>
                    </ul>
                </div>
                
                <div class="card-footer ">

                    <a href="contact/<%= deal.leadOwner[0] %>" class=" btn btn-info btn-sm w-50">View More Details <i
                        class="align-bottom me-1"></i></a>
                    <button data-bs-toggle="modal" data-bs-target="#editdealstage" class="editDealStageBtns btn btn-sm w-sm btn-outline-success waves-effect waves-light">Move to Stage<i
                            class="ri-arrow-left-right-fill align-middle ms-1 lh-1"></i></button>
                    <p class="itemId"style="display:none"><%= deal._id %></p>
                </div>
                
            </div>
        </div>
        </div>
        <!--end card-->
        

    <% }) %>
        <% } %>
    <!--end col-->
        
    </div>
</div>
<% } %>

<!--end col-->
        








</div>
<!--end row-->


<!-- Modal for adding deal-->
<div class="modal fade" id="adddeals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">Create Deals</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="dealTitle" class="form-label">Deal Title</label>
                        <input type="email" class="form-control" id="dealTitle" placeholder="Enter title">
                    </div>
                    <div class="mb-3">
                        <label for="companyName" class="form-label">Company Name</label>
                        <select class="form-select" id="companyName">
                            <% leads.forEach(function (lead) { %>
                                <option value='<%= lead.company %>'><%= lead.company %></option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="contact" class="form-label">Contact Name</label>
                        <select class="form-select" id="contact">
                            <% leads.forEach(function (lead) { %>
                                <option value='<%= lead.name %>'><%= lead.name %></option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="stageValue" class="form-label">Stage</label>
                        <select class="form-select" id="stageValue">
                                <option value='Contact Initiated'>Contact Initiated</option>
                                <option value='Needs Identified'>Needs Identified</option>
                                <option value='Meeting Arranged'>Meeting Arranged</option>
                                <option value='In negotation'>In negotation</option>
                                <option value='Offer Accepted'>Offer Accepted</option>
                                <option value='Lost'>Lost</option>
                                <option value='Won'>Won</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="dealValue" class="form-label">Dollar Value</label>
                        <input type="text" class="form-control" id="dealValue" placeholder="Enter value">
                    </div>
                    <div class="mb-3">
                        <label for="dueDate" class="form-label">Due Date</label>
                        <input type="text" class="form-control" id="dueDate" data-provider="flatpickr"
                            placeholder="Select date">
                    </div>
                    <div class="mb-3">
                        <label for="contactDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="contactDescription" rows="3"
                            placeholder="Enter description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" id='add-btn' class="btn btn-success"><i class="ri-save-line align-bottom me-1"></i>
                        Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end modal-->


<!-- Modal for editing deal stage-->
<div class="modal fade" id="editdealstage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">Edit Deal Stage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">                   
                    <div class="mb-3">
                        <label for="editStageValue" class="form-label">Stage</label>
                        <select class="form-select" id="editStageValue">
                                <option value='Contact Initiated'>Contact Initiated</option>
                                <option value='Needs Identified'>Needs Identified</option>
                                <option value='Meeting Arranged'>Meeting Arranged</option>
                                <option value='In negotation'>In negotation</option>
                                <option value='Offer Accepted'>Offer Accepted</option>
                                <option value='Lost'>Lost</option>
                                <option value='Won'>Won</option>
                        </select>
                    </div>                                                         
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" id='editdealstage-btn' class="btn btn-success"><i class="align-bottom me-1"></i>
                        Move</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end modal-->




<%- contentFor('FooterJs') %>
<script src="assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="assets/js/pages/crm-deals.init.js"></script>

<!-- App js -->

