<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>
<div class="row">
    <div class="col-xl-12">
        <div class="card crm-widget">
            <div class="card-body p-0">
                <div class="row row-cols-xxl-5 row-cols-md-3 row-cols-1 g-0">
                    <div class="col">
                        <div class="py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Annual Profit Projected</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-space-ship-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0">$<span class="counter-value" data-target="<%= deals.filter(deal => deal.stage !== 'Lost' && deal.dueDate.includes(new Date().getFullYear())).map(deal => deal.value.includes(',') ? Number(deal.value.split(',').join('')) : Number(deal.value)).reduce((acc,num) => acc + num,0) %>">0</span></h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col">
                        <div class="mt-3 mt-md-0 py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Monthly Profit Projected</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-exchange-dollar-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0">$<span class="counter-value" data-target="<%= deals.filter(deal => deal.stage !== 'Lost' && deal.dueDate.split('-')[1].length === 1 ? (0 + deal.dueDate.split('-')[1]) === ((new Date().getMonth()+1)) : deal.dueDate.split('-')[1] == ((new Date().getMonth()+1).toString())).map(deal => deal.value.includes(',') ? Number(deal.value.split(',').join('')) : Number(deal.value)).reduce((acc,num) => acc + num,0) %>">0</span></h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col">
                        <div class="mt-3 mt-md-0 py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Monthly Deals Created</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-pulse-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h2 class="mb-0"><span class="counter-value" data-target="<%= deals.filter(deal => deal.stage !== 'Lost' && deal.dueDate.split('-')[1].length === 1 ? (0 + deal.dueDate.split('-')[1]) === ((new Date().getMonth()+1)) : deal.dueDate.split('-')[1] == ((new Date().getMonth()+1).toString())).length%>">0</span></h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col">
                        <div class="mt-3 mt-lg-0 py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Deals in Pipeline</h5>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-trophy-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <!-- get length of what is currently in the pipeline that is not won or lost -->
                                    <h2 class="mb-0"><span class="counter-value" data-target="<%= deals.filter(deal => deal.stage !== 'Won' && deal.stage !== 'Lost').length %>">0</span></h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col">
                        <div class="mt-3 mt-lg-0 py-4 px-3">
                            <h5 class="text-muted text-uppercase fs-13">Annual Deals</h5>

                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <i class="ri-service-line display-6 text-muted"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <!-- filter out deals that arent in our current year -->
                                    <h2 class="mb-0"><span class="counter-value" data-target="<%=  deals.filter(deal => deal.stage !== 'Lost' && deal.dueDate.includes(new Date().getFullYear().toString())).length %>">0</span></h2>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    
    <div class="col-xl-9 col-md-6">
        <div class="card card-height-100" >
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Deals Status</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table table-borderless table-hover table-nowrap align-middle mb-0">
                        <thead class="table-light">
                            <tr class="text-muted">
                                <th scope="col">Name</th>
                                <th scope="col" style="width: 20%;">Due</th>
                                <th scope="col" style="width: 16%;">Status</th>
                                <th scope="col" style="width: 12%;">Deal Value</th>
                            </tr>
                        </thead>
                        <% deals.filter(deal => deal.stage !== "Won" && deal.stage !== "Lost" && deal.stage !== "Offer Accepted").forEach(function (deal) { %>
                        <tbody>
                            <tr>
                               
                                <td><%= deal.companyName %></td>
                                <td><%= deal.dueDate %></td>
                                <td><span class="badge badge-soft-success p-2"><%= deal.stage %></span></td>
                                <td>
                                    <div class="text-nowrap">$<%= deal.value %></div>
                                </td>
                                
                            </tr>

                        </tbody><!-- end tbody --> <% }) %>
                    </table><!-- end table -->
                </div><!-- end table responsive -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xxl-3 col-md-6">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Deals in the Pipeline</h4>
                <div class="flex-shrink-0">
                    <div class="dropdown card-header-dropdown">
                    </div>
                </div>
            </div><!-- end card header -->
            <div class="card-body pb-0">
                
                <div id="sales-forecast-chart" data-colors='["--vz-primary", "--vz-dark", "--vz-danger", "--vz-info", "--vz-success"]'
                    class="apex-charts" dir="ltr"></div>
            </div>
        </div><!-- end card -->
    </div><!-- end col -->
    
</div><!-- end row -->

<div class="row">

    <div class="col-xxl-7">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Closing Deals</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-nowrap align-middle mb-0">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 30%;">Deal Name</th>
                                <th scope="col" style="width: 20%;">Amount</th>
                                <th scope="col" style="width: 20%;">Close Date</th>
                            </tr>
                        </thead>
                        <% deals.filter(deal => deal.stage === "Offer Accepted").forEach(function (deal) { %>
                        <tbody>
                            <tr>
                                <td><%= deal.companyName %></td>
                                <td>$<%= deal.value %></td>
                                <td><%= deal.dueDate %></td>
                            </tr>
                        </tbody><!-- end tbody --> <% }) %>
                    </table><!-- end table -->
                </div><!-- end table responsive -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    

    <div class="col-xl-5">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">My Tasks</h4>
                <div class="flex-shrink-0">
                </div>
            </div><!-- end card header -->

            <div class="card-body p-0">

                <div class="align-items-center p-3 justify-content-between d-flex">
                    <div class="flex-shrink-0">
                        <div class="text-muted"><span class="fw-semibold"><%= tasks.filter(task => task.statusFieldVal !== "Completed").length %></span><span
                                class="fw-semibold"></span> remaining</div>
                    </div>
                    <a href='/tasks/1/sort'><button type="button" class="btn btn-sm btn-success"></i>
                        Go to Tasks</button></a>
                </div><!-- end card header -->

                <div data-simplebar style="max-height: 219px;">
                    <ul class="list-group list-group-flush border-dashed px-3">
                        <% tasks.filter(task => task.statusFieldVal !== "Completed").forEach(function (task) { %>
                        <li class="list-group-item ps-0">
                            <div class="d-flex align-items-start">
                                <!-- <div class="form-check ps-0 flex-sharink-0">
                                    <input type="checkbox" class="form-check-input ms-0" id="task_one">
                                </div> -->
                                <div class="flex-grow-1">
                                    <label class="form-check-label mb-0 ps-2" for="task_one"><%=task.tasksTitleFieldVal %></label>
                                </div>
                                <div class="flex-shrink-0 ms-2">
                                    <p class="text-muted fs-12 mb-0"><%= task.dateDueFieldVal.toUTCString().slice(0,-12) %></p>
                                </div>
                            </div>
                        </li>
                       
                        <% }) %>
                    </ul><!-- end ul -->
                </div>
                <div class="p-3 pt-2">
                    <a href="/tasks/1/sort" class="text-muted text-decoration-underline">Show more...</a>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    
</div><!-- end row -->

<%- contentFor('FooterJs') %>

<script type='text/javascript' src='/assets/libs/choices.js/public/assets/scripts/choices.min.js'></script>
<script type='text/javascript' src='/assets/libs/flatpickr/flatpickr.min.js'></script>

<!-- apexcharts -->
<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- Dashboard init -->
<script src="/assets/js/pages/dashboard-crm.init.js"></script>

