<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">

<head>

    <meta charset="utf-8" />
    <title> <%-title%> | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <%- HeaderCss %>

<%- include ('./head-css.ejs') %>

</head>

<body>

    <%- body%>




    <%- include ('./vendor-scripts') %>
    <%- FooterJs %>

    <!-- App js -->
    <script src="assets/js/app.js"></script>
</body>

</html>