<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">

<head>

    <meta charset="utf-8" />
    <title> <%-title%> | My Small CRM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="The CRM for Small Businesses" name="description" />
    <meta content="Lucas Faustman" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/logos/vector/default-monochrome-white.svg">
    <%- HeaderCss %>

<%- include ('./head-css.ejs') %>

</head>

<body>

    <%- body%>




    <%- include ('./vendor-scripts') %>
    <%- FooterJs %>

    <!-- App js -->
    <script src="/assets/js/app.js"></script>
</body>

</html>